<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>de.jonashoechst.affiliatizer</string>
       <key>Developer Identifier</key>
       <string>S2M4R3QVMR</string>
       <key>CFBundleVersion</key>
       <string>1.6</string>
       <key>CFBundleShortVersionString</key>
       <string>1.6</string>
       <key>URL</key>
       <string>https://github.com/jonashoechst/Affiliatizer.safariextension/releases/download/release_1.6/Affiliatizer.safariextz</string>
     </dict>
   </array>
</dict>
</plist>