<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>amazon.com</string>
		<key>Key</key>
		<string>amazonStore</string>
		<key>Title</key>
		<string>Amazon Store</string>
		<key>Titles</key>
		<array>
			<string>China (amazon.cn)</string>
			<string>India (amazon.in)</string>
			<string>Japan (amazon.co.jp)</string>
			<string>Singapore (amazon.sg)</string>
			<string>France (amazon.fr)</string>
			<string>Germany (amazon.de)</string>
			<string>Netherlands (amazon.nl)</string>
			<string>Spain (amazon.es)</string>
			<string>United Kingdom (amazon.co.uk)</string>
			<string>Canada (amazon.ca)</string>
			<string>Mexico (amazon.mx)</string>
			<string>United States (amazon.com)</string>
			<string>Australia (amazon.com.au)</string>
			<string>Brazil (amazon.com.br)</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>amazon.cn</string>
			<string>amazon.in</string>
			<string>amazon.co.jp</string>
			<string>amazon.sg</string>
			<string>amazon.fr</string>
			<string>amazon.de</string>
			<string>amazon.nl</string>
			<string>amazon.es</string>
			<string>amazon.co.uk</string>
			<string>amazon.ca</string>
			<string>amazon.mx</string>
			<string>amazon.com</string>
			<string>amazon.com.au</string>
			<string>amazon.com.br</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>thelexfiles05-20</string>
		<key>Key</key>
		<string>amazonAffiliate</string>
		<key>Title</key>
		<string>Amazon affiliate tag 1</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>daringfirebal-20</string>
		<key>Key</key>
		<string>amazonAffiliate2</string>
		<key>Title</key>
		<string>Amazon affiliate tag 2</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>intertext</string>
		<key>Key</key>
		<string>amazonAffiliate3</string>
		<key>Title</key>
		<string>Amazon affiliate tag 3</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
